#img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

#screen {
  display: block;
  margin: 2rem auto;
  width: 640;
  height: 320px;
  border: black solid 1px;
}
